.orange {
    color: orange;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.red {
    color: red;
}
.purple {
    color: purple;
}
.yellow {
    color: yellow;
}
.bold {
    font-weight: bold;
}